* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body
{
  max-height: 100vh;
  max-width: 100vw;
}

.header{
  height: 70px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: #14415f;

  background: #159957;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
  position: fixed;
  z-index:1;
}


nav{
  height: inherit;
  display: flex;
  width: 90%;
  max-width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
nav a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 30px 25px;

}
.logo{
  color: #fff;
}
.icono{
  display: none;
  color: #fff;
  font-size: 24px;
  padding: 23.5px 20px;
}
.icono:hover{
  cursor: pointer;
}

.hero{
  position: relative;
  background: url(./imagenes/private.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: cover;
  background-attachment: fixed;
}

.t-hero{
  position: absolute;
  top: 40%;
  padding: 2rem;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: #154683;
}


/* .t-hero h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  font-weight: bold;

} */
/* .t-hero p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
} */

@media screen and (max-width:850px){
  .icono{
    display: block;
  }

  .menu{
    position: fixed;
    top: 80px;
    /* background: #14415f; */
    background: #159957;
    background: -webkit-linear-gradient(to right, #155799, #159957);
    background: linear-gradient(to right, #155799, #159957);

    left: 0;
    height: 100%;
    transition: 1.2s;
    width: 0;
    overflow: hidden;
    z-index: 1;
  }
  .menu a {
    display: inherit;
    /* background:#14415f;
    border: 1px solid #fff; */
    text-align: left;
  }
}

.container {
  background-image: url(imagenes/19366.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 30px 100px 30px;
  margin: auto;
  position: relative;
  text-align: center;
    /* z-index:0; */

}
.container h2{
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 20px;
  font-weight: bold;
}
/* area de cards */

.content-cards{

  width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  width: 30%;
  text-align: center;
  height: 300px;
  background: rgba(139, 201, 221, 0.496);

  box-shadow: 0 0 3px rgb(0,0,0,0.5);
  transform: scale(1);
  transition: transform 0.6s;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card:hover{
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.5);
  transform: scale(1.03);
  cursor: pointer;
}


.card h2{
  width: 100%;
  height: 50px;
  position: relative;
  top: 15px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}


.card textarea{
  position: relative;
  width: 100%;
  height: 250px;
  padding: 20px;
  font-size: 14px;

}

.card input{
  position: relative;
  width: 70%;
  height: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.card button{
  background: #214563b4;
  color: #fff;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 70%;
  height: 40px;
}



.info-last h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.info-last p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
}

.last-section{
  margin-top: 100px;
  padding: 50px 20px;
  background: rgba(242, 242, 242, 0.576);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
  text-align: center;
  align-items: center;
}

.last-section img {
  width: 50%;
}

.last-section .contenedor-textos-main{
  width: 40%;
}

.cta{
  font-family: 'Ubuntu', sans-serif;  display: inline-block;
  text-decoration: none;
  background: #50738B;
  margin: 20px 10px;
  padding: 20px 15px;
  border-radius: 8px;
  color: #fff
}


footer{
  display: block;
  font-family: 'Tulpen One', cursive;
  font-family: 'Buda', cursive;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  height: 50px;
  z-index:2;

  background: #159957;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
}

footer p{
  padding-top: 15px;
}


@media screen and (max-width:750px){
  /* .t-hero{
    position: fixed;
    top: 25%;
  } */

  .card{
    width: 90%;
    margin-bottom: 20px;
  }

  .last-section img{
    width: 98%;
  }

  .last-section .contenedor-textos-main{
    width: 98%;
    margin-bottom: 20px;
  }

  footer p{
    padding-top: 0px;
    font-size: 16px;
  }

}

@media screen and (max-width:450px){
  .t-hero{
    position: fixed;
    top: 10%;
  }
}
